<!DOCTYPE html>
<html>
    <head>
        <!-- Invisible to user — metadata, title, CSS links go here -->        
        <title>WikiWeb</title>    
    </head>
    <body>
        <!-- Everything visible to the user goes here -->
        <div style="text-align: center;">
            <h1>Page Creator!</h1>
            <a href="http://localhost:8080/home">Back to Home</a><br><br><hr><br>
            
            <!-- Okay so this is the form so that users can search for things on the website-->
            <form action="/create-page" method="post">
                <!-- Page Title Input -->
                <label for id="title">Page Title</label><br>
                {{if .Title}}
                <input type="text" id="title" name="title" placeholder="Title" value="{{.Title}}"><br><br>
                {{else}}
                <input type="text" id="title" name="title" placeholder="Title"><br><br>
                {{end}}
                
                <!-- Page Author Input -->
                <label for id="author">Author's name</label><br>
                {{if .Author}}
                <input type="text" id="author" name="author" placeholder="Author" value="{{.Author}}"><br><br>
                {{else}}
                <input type="text" id="author" name="author" placeholder="Author"><br><br>
                {{end}}

                <!-- Page Content Input -->
                <label for id="content">Post Content</label><br>
                <textarea id="content" name="content" placeholder="Your post here!" value="{{.Content}}" rows="10" cols="100"></textarea><br><br>
                {{if .ErrorMessage}}
                <p style="color: red;">{{.ErrorMessage}}</p>
                {{end}}
                <button type="submit">Create Page</button>  
            </form>

        </div>
    </body>
</html>