<!DOCTYPE html>
<html>
    <head>
        <!-- Invisible to user — metadata, title, CSS links go here -->        
        <title>WikiWeb</title>    
    </head>
    <body>
        <!-- Everything visible to the user goes here -->
        <div style="text-align: center;">
            <h1>Welcome to WikiWeb!</h1>
            <p>Check out some of our newest pages!</p>
            <a href="http://localhost:8080/about">What's this?</a><br><br><hr><br>
            
            <!-- Okay so this is the form so that users can search for things on the website-->
            <form action="/search" method="GET">
                <input type="text" name="q" placeholder="Find it here...">
                <button type="submit">Go</button>  
            </form>

            <h2>These are user generated pages!</h2>
            <a href="/create-page">Want to make your own?</a><br><br><br>
        </div>
        {{range .}}
        <div style="text-align: center;">
            <a href="/{{.Slug}}">{{.Title}}</a>
            <p>Written by, {{.Author}} on {{.CreatedDate}}</p><br>
        </div>
        {{end}}
    </body>
</html>